<a href="https://colab.research.google.com/github/ShubhamDhakarey/Solve_Question/blob/main/panda_missing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'],
columns=['one', 'two', 'three'])
df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (df)

        one       two     three
a  1.146220 -1.378570  0.231492
b       NaN       NaN       NaN
c  1.864047 -0.319108  0.993376
d       NaN       NaN       NaN
e -0.593469  0.640048  0.212588
f  2.675115 -0.035699  0.016337
g       NaN       NaN       NaN
h -0.042145 -0.534409 -0.015912

In [ ]:

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f', 'h'], columns=['one', 'two', 'three'])
d = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])
print (d[d['one'].isnull()])

   one  two  three
b  NaN  NaN    NaN
d  NaN  NaN    NaN
g  NaN  NaN    NaN

In [ ]:
print (d[d['one'].notnull()])

        one       two     three
a -1.246247  0.796529  0.807969
c  0.818912  0.140199  1.087601
e  0.142643  0.786534 -1.246702
f  0.992725 -0.030570  0.118940
h  0.785397 -0.145069 -0.343253

In [ ]:
print (d.fillna(0))

        one       two     three
a -1.246247  0.796529  0.807969
b  0.000000  0.000000  0.000000
c  0.818912  0.140199  1.087601
d  0.000000  0.000000  0.000000
e  0.142643  0.786534 -1.246702
f  0.992725 -0.030570  0.118940
g  0.000000  0.000000  0.000000
h  0.785397 -0.145069 -0.343253

In [ ]:
a=d.fillna({"one":{"b":1,"d":2,"g":3},"two":2,"three":3})

In [ ]:
a

        one       two     three
a -1.246247  0.796529  0.807969
b  1.000000  2.000000  3.000000
c  0.818912  0.140199  1.087601
d  2.000000  2.000000  3.000000
e  0.142643  0.786534 -1.246702
f  0.992725 -0.030570  0.118940
g  3.000000  2.000000  3.000000
h  0.785397 -0.145069 -0.343253

In [ ]:
print (d[d['one'].notnull()].sum())

one      1.493429
two      1.547622
three    0.424556
dtype: float64

In [ ]:
print(a.dropna())

        one       two     three
a -1.246247  0.796529  0.807969
b  1.000000  2.000000  3.000000
c  0.818912  0.140199  1.087601
d  2.000000  2.000000  3.000000
e  0.142643  0.786534 -1.246702
f  0.992725 -0.030570  0.118940
g  3.000000  2.000000  3.000000
h  0.785397 -0.145069 -0.343253

In [ ]:
print(df.dropna())

        one       two     three
a -1.246247  0.796529  0.807969
c  0.818912  0.140199  1.087601
e  0.142643  0.786534 -1.246702
f  0.992725 -0.030570  0.118940
h  0.785397 -0.145069 -0.343253

In [ ]:
print(df.dropna(axis=1))

        one       two     three
a -1.246247  0.796529  0.807969
c  0.818912  0.140199  1.087601
e  0.142643  0.786534 -1.246702
f  0.992725 -0.030570  0.118940
h  0.785397 -0.145069 -0.343253

In [ ]:
d

        one       two     three
a -1.246247  0.796529  0.807969
b       NaN       NaN       NaN
c  0.818912  0.140199  1.087601
d       NaN       NaN       NaN
e  0.142643  0.786534 -1.246702
f  0.992725 -0.030570  0.118940
g       NaN       NaN       NaN
h  0.785397 -0.145069 -0.343253

In [ ]:
df = pd.DataFrame({'one':[10,20,30,40,50,2000],
'two':[1000,0,30,40,50,60]})

In [ ]:
print(df.replace({1000:10,2000:60,0:20}))

   one  two
0   10   10
1   20   20
2   30   30
3   40   40
4   50   50
5   60   60